<div class="container">

    <img src="assets/images/logo.png" class="logo">


    <form [formGroup]="newUserForm" (ngSubmit)="onSubmit()">

        <p>
            <mat-form-field appearance="fill">
            <mat-label></mat-label>
            <input matInput type="text" placeholder="name" formControlName="name">
            <mat-hint>Name</mat-hint>
            <small class="text-danger" *ngIf="newUserForm.get('name')?.invalid && newUserForm.get('name')?.touched">Name is required.</small>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="fill">
            <mat-label></mat-label>
            <input matInput placeholder="email" formControlName="email">
            <mat-hint>Email</mat-hint>
            <small class="text-danger" *ngIf="newUserForm.get('email')?.invalid && newUserForm.get('email')?.touched">Email is required.</small>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="fill">
            <mat-label></mat-label>
            <input matInput type="password" placeholder="password" formControlName="password">
            <mat-hint>Password</mat-hint>
            <small class="text-danger" *ngIf="newUserForm.get('password')?.invalid && newUserForm.get('password')?.touched">Password is required.</small>
            </mat-form-field>
        </p>
        
        <section>
            <div class="example-button-row">
            <button mat-raised-button color="primary" [disabled]="newUserForm.invalid" type="submit">Create</button>
            <a mat-raised-button color="warn" (click)="cancel()">Cancel</a>
            </div>
        </section>
    </form>    
</div>


<footer class="footer">
    <mat-label>Developed by: Alan Ensina - 2024</mat-label>
</footer>

