.content{
  padding: 24px;
}

mat-toolbar{
  position: relative;
  z-index: 5;
}

mat-sidenav-container{
  height: calc(100vh - 64px);
}

.spacer {
  flex: 1 1 auto;
}

mat-sidenav-content {
  background-color: rgba(240, 245, 242, 0.911);
}

.logo-toolbar{
  height: 50px;
  width: 50px;
  padding-right: 0.5rem;
  padding-left: 0.2rem;
}

.datetime{
  color: rgb(100, 173, 100);
}